.main
{
      display:  flex;
      justify-content: center;
}
h1 {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

p {
    font-size: 12px;
}

hr {
    color: #a9a9a9;
    opacity: 0.3;
}

.main-block {
    max-width: 400px;
    min-height: 600px;
    padding: 15px 0;
    margin: auto;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
    background: #ebebeb;
}

form {
    margin: 0 30px;
}



input[type=radio] {
    display: none;
}

label#icon {
    margin: 10;
    border-radius: 5px 0 0 5px;
}

label.radio {
    position: relative;
    display: inline-block;
    
    margin-right: 80px;
    text-indent: 30px;
    overflow: visible;
    
}

label.radio:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1c87c9;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 4px;
    top: 8px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked+label:after {
    opacity: 1;
}

input[type=text],
input[type=password] {
    width: calc(100% - 50px);
    height: 45px;
    margin: 13px 0 0 -5px;
    padding-left: 10px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #fff;
}

input[id="Address"] {
    margin-bottom: 5vw;
}

#icon {
    display: inline-block;
    padding: 10px 15px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
    background: #1c87c9;
    color: #fff;
    text-align: center;
}

.btn-block {
    margin-top: 10px;
    text-align: center;
}

.button {
    width: 50%;
    padding: 10px;
    margin: 70px 90px auto;
    border-radius: 5px;
    border: none;
    background: #1c87c9;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    
}

.button:hover {
    background: #26a9e0;
}

